*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}
body{
    font-size: 1.6rem;
}
:root{
    --color:#767E7E; 
}
/* =======common============ */
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.desc{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--color);
    
}
.label{
    color: #0D1111;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}
.btn{
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1EBFC1;
    color: #ffff;
    padding: 20px 41px;
}
.btn:hover {
    opacity: 0.9;
}
/* =======header======= */

.header.fixed{
    z-index: 1;
    position: sticky; 
    top: -44px;
}
.header .menu{
    padding: 52px 0 0;
    display: flex;
    align-items: center;
}
.header .logo{
    padding-right: 235px;
    display: inline;
}
.header .Group{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 177px;
    width: 446px;
    height: 24px;

}

.header .group-item{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: #2F3A3B;
}
.header .group-item.active,
.header .group-item:hover{
    text-shadow: 1px 0 0 currentColor;
    
}
.header .group-item+.group-item{
    padding-left: 39px;
}
.header .btn-group{
    display: flex; 
    gap: 24px;
    align-items: center;
}
.header .btn-group .btn-Sin{
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    width: 53px;
    height: 24px; 
}
.header .btn-group .btn-Sup a{
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 12px;
    color: #1EBFC1;
    background: #ffff;
}
.header .btn-group .btn-Sup a:hover{
    background: #1ebfc1;
    color: white;
    transition: 0.3s;
}
/* ==========hero============= */
.hero{
    width: 1440px;
    height: 860px;
    flex-shrink: 0;
    margin: 0 auto;
}
.hero .body-left{
    width: 40%;
    height: 445px;
    border-radius: 14px;
    background: #ffff;
    padding-top: calc(243px - 150px);

}
.hero .body-left .desc.note{
    display: inline;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
    color: #767E7E;

}
.hero .body-left .label{
    width: 458px;
    height: 144px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 72px;
    color:  #0D1111;
    padding: 18px 0 46px;
}
.hero .btn-start{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 27px;
}
.hero .desc{
    width: 374px;
    height: 96px;
    margin: 46px 0 52px;
}
.hero .action{
    display: flex;
    align-items: center;
    
}
.hero .action .active{
    position: absolute;
    left: 400px;
    bottom: -105px;
}
.hero .action .active:hover{
    box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
    color: #fff;
    transition: 0.10s;
    cursor: pointer;
}
.hero .body{
    display: flex;
    padding: 150px 0 0;
    gap: 136px;
}
.hero .body-right{
    width: 60%;
    background: #E0F7F6;
    position: relative;
    margin-bottom: 79px;
   
}
.hero .body-right img{
    width: 576px;
    height: 631px;
    object-fit: cover;
    
    
}
.hero .body-right .field{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 25px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    position: absolute;
    top: 150px;
    left: -40px;
    gap: 16px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .body-right .field img{
    width: 36px;
    height: 40px;
    position: relative;
    background: #FF8282;
}
.hero .coures .desc{
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 15px;
    color: #0D1111;
    width: 55px;
    height: 30px;
    padding: 5px 0 5px;
} 

.hero .schecules{
    position: absolute;
    top: 700px;
    left: 890px;
    background: #FEFEFD;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
   
}
.hero .schecules .title{
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    padding: 16px 35px 0;
    
}
.hero .schecules .group-icon .icon:first-child{
    margin: 16px 25px 0;
}
.hero .schecules .group-icon .icon{
    width: 74px;
    height: 6px;
}
.hero .schecules span{
    margin: 16px 49px 23px;
    width: 26px;
    height: 6px;
    border-radius: 3px;
    border: 3px  solid #EDF1F5;
    display: flex;
    flex-direction: column;   
}
.hero .avatar-block{
    position: absolute;
    bottom: 120px;
    right: 220px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    width: 207px;
    height: 90px;
}
.hero .avatar-block .ava-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .ava-list .ava{
    margin-top: 8px;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.hero .ava-list .ava:first-child {
    margin-left: 0;
  }
.hero .avatar-block .detail {
    display: inline-block;
    margin: 17px 35px 0;
    color: #0d1111;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100px;
    height: 15px;
  }
.hero .avatar-block .avar-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1ebfc1;
  }
.hero .avar-more span {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;

  }  
  .hero .ava-list .ava.one{
    background: orange;
  }
  .hero .ava-list .ava.two{
    background: #1EBFC1;
  }
  .hero .ava-list .ava.three{
    background: plum;
  }
  .hero .ava-list .ava.four{
    background: #FF8282;
  }
  /* =====features===== */

 .features .body{
    height: 559px;
    margin-top: 130px;
 }
 .features .top-text{
    width: 591px;
    height: 220px;
    flex-shrink: 0;
    margin-bottom: 80px;
 }
 .features .top-text .note{
    color: #767E7E;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 18px;
    display: inline-block;
 }
.features .top-text .desc{
    margin-top: 18px;
}

.features .bot-feature{
    display: flex;
    justify-content: center;
    gap: 209px;
    width: 89%;
    height: 259px;
    flex-shrink: 0;
}
.features .bot-feature .item .desc{
    color: #9DA6A5;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}

.features .bot-feature .item.item-1{
    width: 168px;
    height: 259px;
    flex-shrink: 0;
}
.features .bot-feature .item.item-2{
    width: 223px;
    height: 259px;
    flex-shrink: 0;
}
.features .item.item-3{
    width: 224px;
    height: 259px;
    flex-shrink: 0;
}
.features .bot-feature .title{
    color: #0D1111;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 26px 0 16px;
}