*{
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}
body{
    font-size: 1.6rem;
}
:root{
    --color:#767E7E; 
}
/* =======common============ */
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.desc{
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px;
    color: var(--color);
    
}
.label{
    color: #0D1111;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}
.btn{
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1EBFC1;
    color: #ffff;
    padding: 20px 41px;
    
}
.btn:hover {
    opacity: 0.9;
}
.note{
    color: #767E7E;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 18px;
    display: inline-block;
 }
/* =======header======= */

.header.fixed{
    z-index: 1;
    position: sticky; 
    top: -44px;
}
.header .menu{
    padding: 52px 0 0;
    display: flex;
    align-items: center;
    background: #FFF;
}
.header .logo{
    padding-right: 235px;
    display: inline;
}
.header .Group{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 177px;
    width: 446px;
    height: 24px;

}

.header .group-item{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    color: #2F3A3B;
}

.header .group-item.active,
.header .group-item:hover{
    text-shadow: 1px 0 0 currentColor;
    
}
.header .btn-group .btn-Sin:hover{
    text-shadow: 1px 0 0 currentColor;
}
.header .group-item+.group-item{
    padding-left: 39px;
}
.header .btn-group{
    display: flex; 
    gap: 24px;
    align-items: center;
}
.header .btn-group .btn-Sin{
    color: #494949;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: normal;
    width: 53px;
    height: 24px; 
}
.header .btn-group .btn-Sup a{
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #1EBFC1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 12px;
    color: #1EBFC1;
    background: #ffff;
}

.header .btn-group .btn-Sup a:hover{
    background: #1ebfc1;
    color: white;
    transition: 0.3s;
}
/* ==========hero============= */
.hero{
    width: 1440px;
    height: 860px;
    flex-shrink: 0;
    margin: 0 auto;
}
.hero .body-left{
    width: 40%;
    height: 445px;
    border-radius: 14px;
    background: #ffff;
    padding-top: calc(243px - 150px);

}
.hero .body-left .desc.note{
    display: inline;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 21px;
    color: #767E7E;

}
.hero .body-left .label{
    width: 458px;
    height: 144px;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 72px;
    color:  #0D1111;
    padding: 18px 0 46px;
}
.hero .btn-start{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 27px;
}
.hero .desc{
    width: 374px;
    height: 96px;
    margin: 46px 0 52px;
}
.hero .action{
    display: flex;
    align-items: center;
    gap: 50px;
    
}
.hero .action .active{
    width: 62px;
    height: 62px;
    border-radius: 50%;
    background: #FFFFFF;
    display: flex;
    border: currentColor;
    justify-content: center;
    align-items: center;
}
.hero .action .active:hover{
    box-shadow: 1px 0px 5px rgba(196, 26, 134, 0.5);
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}
.hero .body{
    display: flex;
    padding: 150px 0 0;
    gap: 136px;
}
.hero .body-right{
    width: 60%;
    background: #E0F7F6;
    position: relative;
    margin-bottom: 79px;
   
}
.hero .body-right img{
    width: 576px;
    height: 631px;
    object-fit: cover;
    
    
}
.hero .body-right .field{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 25px;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #FEFEFD;
    position: absolute;
    top: 150px;
    left: -40px;
    gap: 16px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero .body-right .field img{
    width: 36px;
    height: 40px;
    position: relative;
    background: #FF8282;
}
.hero .coures .desc{
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 15px;
    color: #0D1111;
    width: 55px;
    height: 30px;
    padding: 5px 0 5px;
} 

.hero .schecules{
    position: absolute;
    top: 450px;
    left: -60px;
    background: #FEFEFD;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
   
}
.hero .schecules .title{
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    padding: 16px 35px 0;
    
}
.hero .schecules .group-icon .icon:first-child{
    margin: 16px 25px 0;
}
.hero .schecules .group-icon .icon{
    width: 74px;
    height: 6px;
}
.hero .schecules span{
    margin: 16px 49px 23px;
    width: 26px;
    height: 6px;
    border-radius: 3px;
    border: 3px  solid #EDF1F5;
    display: flex;
    flex-direction: column;   
}
.hero .avatar-block{
    position: absolute;
    bottom: 40px;
    right: 40px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
    width: 207px;
    height: 90px;
}
.hero .avatar-block .ava-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .ava-list .ava{
    margin-top: 8px;
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}
.hero .ava-list .ava:first-child {
    margin-left: 0;
  }
.hero .avatar-block .detail {
    display: inline-block;
    margin: 17px 35px 0;
    color: #0d1111;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 100px;
    height: 15px;
  }
.hero .avatar-block .avar-more {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1ebfc1;
  }
.hero .avar-more span {
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;

  }  
.ava.one{
    background: orange;
  }
 .ava.two{
    background: #1EBFC1;
  }
.ava.three{
    background: plum;
  }
.ava.four{
    background: #FF8282;
  }
  /* =====features===== */

 .features .body{
    height: 559px;
    margin-top: 130px;
 }
 .features .top-text{
    width: 591px;
    height: 220px;
    flex-shrink: 0;
    margin-bottom: 80px;
 }

.features .top-text .desc{
    margin-top: 18px;
}

.features .bot-feature{
    display: flex;
    justify-content: center;
    gap: 209px;
    width: 89%;
    height: 259px;
    flex-shrink: 0;
}
.features .bot-feature .item .desc{
    color: #9DA6A5;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}

.features .bot-feature .item.item-1{
    width: 168px;
    height: 259px;
    flex-shrink: 0;
}
.features .bot-feature .item.item-2{
    width: 223px;
    height: 259px;
    flex-shrink: 0;
}
.features .item.item-3{
    width: 224px;
    height: 259px;
    flex-shrink: 0;
}
.features .bot-feature .title{
    color: #0D1111;
    font-size: 2.0rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 26px 0 16px;
}
/* =====popular ===*/

.popular .body-course{
    padding: 130px 0 0;
    width: 1171px;
    height: 778px;   
}
.popular .row-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 0 79px;
}
.popular .row-top .desc{
    width: 525px;
}
.popular .row-top .all-course{
    text-decoration: underline;
    color: #1EBFC1;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
/* course-card */
.popular .course-list{
    display: flex;
    gap: 47px;
}
.popular .course-list .course-cards{
    position: relative;
}
.popular .course-list .images{
    width: 359px;
    height: 393px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #D0EFED;
    object-fit: cover;
    opacity: 0.7;
}
.popular .course-detail .heading-lv3{
    color: #0D1111;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.popular .course-detail .cost span{
    color: #0D1111;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.popular .course-detail .static,
.popular .course-detail .cost,
.popular .course-detail .desc{
    color: #9DA6A5;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.popular .course-detail{
    top: 325px;
    left: 17px;
    position: absolute;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    width: 325px;
    height: 195px;
    flex-shrink: 0;
}
.popular .course-detail .wrap-item{
    padding: 18px 35px 29px 25px;   
}
.popular .course-detail .cost{
    padding: 16px 0 6px;
}
.popular .course-detail .static{
    padding-top: 18px;
    margin-left: -10px;
}
.popular .course-detail span::before{
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1EBFC1;
    margin: 0 10px;
    display: inline-block;
}
/* countdown */
.countdown{
    margin-top: 389px;
}
.countdown .body {
    margin-left: auto;
    margin-right: auto;
    max-width: 862px;
    /* background: aqua; */
  }
.countdown .countdown-list{
    display: flex;
    justify-content: space-between;
}
.countdown .countdown-list .static{
    color: #0D1111; 
    font-size: 6.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 11px;
    text-align: center;
}
.countdown .countdown-list .desc{
    text-align: center;
}
/* ====testimonial==== */
.body-testimonial{
    margin-top: 204px;
    padding-bottom: 130px;
}
.body-testimonial{
    display: flex;
    justify-content: space-between;
}
.body-testimonial .testimonial-left{
    margin-top:calc(301px - 264px);
    
}
.body-testimonial .testimonial-left .desc{
    color: #5D6564;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    width: 419px;
    padding: 27px 0 33px;
}
.body-testimonial .testimonial-left .note strong{
    color: #070707;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    margin-left: 10px;
}
.body-testimonial .testimonial-left .note{
    color: #9DA6A5;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.69; /* 168.75% */
}
.body-testimonial .testimonial-left .note strong::before{
    content: "";
    position: absolute;
    display: inline-block;
    background: #070707;
    height: 2px;
    width: 8px;
    top: 10px;
    left: -12px;
}
.body-testimonial .testimonial-left .btn-ctd{
    display: flex;
    margin-top: 52px;
    gap: 40px;
    
       
}
.body-testimonial .testimonial-left .btn-ctd .btn-act{
    background: #2AC9BF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: #2AC9BF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body-testimonial .testimonial-left .btn-ctd .btn-act:hover{
    box-shadow: 1px 0px 10px rgb(239, 177, 218);
    transition: 0.5s;
    cursor: pointer;
    opacity: 0.9;
}
.body-testimonial .testimonial-right{
    position: relative;
}
.body-testimonial .testimonial-right .avatar{
    position: absolute;
    width: 78px;
    height: 78px;
    border-radius: 50%;
}
.body-testimonial .testimonial-right .avatar.image1{
    background: #FF8282;
    right: 450px;
    top: 5px;
    width: 92px;
    height: 92px;
}
.body-testimonial .testimonial-right .avatar.image2{
    background: #1EBFC1;
    right: 300px;
    bottom: 20px;
}
.body-testimonial .testimonial-right .avatar.image3{
    background: #13df68;
    right: 600px;
    bottom: 140px;
}
.body-testimonial .testimonial-right .avatar.image4{
    background: #d7119b;
    right: 200px;
    bottom: 140px;
    width: 235px;
    height: 235px;
}
.body-testimonial .testimonial-right .avatar.image5{
    background: #cdf00b;
    right: 70px;
    bottom: 60px;
}
.body-testimonial .testimonial-right .avatar.image6{
    background: #6eace6;
    right: 30px;
    top: 50px;
    width: 110px;
    height: 110px;
    flex-shrink: 0;
}
/* CTA */
.cta{
    background: #DEF6F5;
    width: 100%;
}
.cta .body-cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cta .body-cta .label{
    padding: 76px 0 18px;
}
.cta .body-cta .desc{
    padding-bottom: 88px;
}
.cta .body-cta .btn-start{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #FFF;
}
/* footer */
.footer .body-footer{
    display: flex;
    justify-content: space-between;
    padding-top: 139px;
}
.footer .body-footer .column-footer .dot .link,
.footer .body-footer .column-footer .dot{
    padding-top: 25px;
    color: #535353;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer .body-footer .desc{
    font-weight: 500;
    color: #2E2E2E;
}
.footer .body-footer .column-footer .dot .fa-brands{
    margin-right: 8px;
}
.footer .footer-end{
    padding: 80px 0 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}